.head img {
    height: 80px;
    width: 80px;
    margin-bottom: -15px;
}

.head {
    margin-top: 30px;
    text-align: center;
}

.greentick {
    height: 60px;
    width: 60px;
}

.information {
    padding: 20px;
    background-color: rgb(179, 250, 209);
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.information h1,h3 {
    margin-top: -5px;
}
 p {
     font-size: 1.5vw;
     width: fit-content;
     margin: 5vw auto;
 }